<div>
    <title>Get Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <h3 class="h3-class">Search your Id Card Details</h3>
    <form [formGroup]="searchForm" (ngSubmit)="getDetailsById()">
        <div class="form-group">

            <label for="id">Id</label>
            <input class="form-control" [readonly]="isUpdate" type="text" name="id" id="id" formControlName="id" width=50 placeholder="Enter your Id here">
            <div *ngIf="searchForm.controls['id'].errors && 
            (searchForm.controls['id'].touched || searchForm.controls['id'].dirty)" class="error">
                Id is required
            </div>
        </div>
        <br>
        <div class="center">
            <input type="submit" value="Search" class="btn btn-primary" [disabled]="searchForm.invalid">
        </div>
    </form>
    <a routerLink="/homeAddIdCard" href="/homeAddIdCard" routerLinkActive="active">back</a>

    <table border="2px" class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Pin Code</th>
            <th>Adhar No</th>
            <th>Pan No</th>
        </tr>

        <tr>
            <td>{{details.id}}</td>
            <td>{{details.name}}</td>
            <td>{{details.dob}}</td>
            <td>{{details.gender}}</td>
            <td>{{details.address}}</td>
            <td>{{details.city}}</td>
            <td>{{details.state}}</td>
            <td>{{details.pincode}}</td>
            <td>{{details.adharNo}}</td>
            <td>{{details.panNo}}</td>
            <td><input type="button" (click)="deleteIdCard(details.id)" value="Delete" class="btn btn-primary"></td>
        </tr>
    </table>