/* You can add global styles to this file, and also import other style files */

/*.form-group input,
select {
    box-sizing: border-box;
    display: inline-block;
    width: 10%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    font-size: 20px;
}

a {
    cursor: pointer;
    cursor: hand;
}

input {
    text-align: center;
}

h3 {
    text-align: center;
}

input[type=text],
select {
    align-items: center;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    width: 50%;
    margin: auto;
    margin-left: 400px;
}

textarea,
select {
    align-items: center;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.class1 {
    color: red;
}

.label-class {
    font-size: 20px;
    font-weight: bold;
}*/