<div class="topnav">
    <nav>

        <a routerLink="/homeVaccinationCenter">Vaccination Center</a>
        <a routerLink="/homeVaccine">Vaccine</a>
        <a routerLink="/homeVaccineInventory">Vaccine Inventory</a>

        <a routerLink="/addStatus" routerLinkActive="active">Get Vaccination Status For Member</a>
        <a routerLink="/updateMemberDetails" routerLinkActive="active">Update Member Details</a>
        <a class="nav-link" href="#">Log Out<span class="sr-only"></span></a>
    </nav>
    <div>